body {
    background-color: black;
}

h1 {
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 40px
}

.workPlan {
    background-color: rgb(26, 8, 8);
    overflow: auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 300px;
    width: 600px;
    margin-left: 50px;
    float: left;
    padding: 20px;
}

.request {
    background-color: rgb(26, 8, 8);
    overflow: auto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 300px;
    width: 600px;
    margin-right: 50px;
    float: right;
    padding: 20px;
}

input[type=submit] {
    width: 10%;
    background-color: rgba(240, 9, 9, 0.918);
    color: white;
    padding: 14px 20px;
    margin: 8px 38%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#subInDiv {
    width: 25%;
}