h2{
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255, 217, 0);
}
h1{
    color: rgb(252, 92, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300px;
    margin-top: -35px;
    margin-bottom: 0px;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -15px 40px #ffae34, 20px -25px 50px #ec760c, -20px -45px 60px #cd4606, 0 -65px 70px #973716, 10px -70px 80px #451b0e;

}

body{
    background-image: url(../image/Hell.jpg);
    background-size: cover;
}
ul {
    list-style-type: none;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(54, 10, 10);
  }
  
  #вход {
    float: left;
  }
  #регистрация {
    float: right;
  }
  #контакт {
     padding-left: 400px;
     padding-right: 400px;
     display: block;
     color: white;
     text-align: center;
     padding: 20px 20px;
     text-decoration: none;
  }
  .контакты {
    position: fixed;
    display: inline-block;
  }
  
  .контакты-content {
    display: none;
    position: absolute;
    background-color: #311717;
    min-width: 180px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .контакты:hover .контакты-content {
    display: block;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  li a:hover {
      background-color: rgb(54, 28, 28);
  }
  .новости {
      overflow: auto;
      color: rgb(255, 255, 255);
      font-size: 20px;
      height: 300px;
      margin-right: 200px;
      margin-left: 200px;
  }

