body{
    background-color: black;
    background-image: url(../image/GateHell.jpg);
    background-size: 30%;
    background-position-x: 20%;
    background-position-y: -30%;
    background-repeat: no-repeat;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(240, 9, 9, 0.918);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
      
input[type=submit]:hover {
    background-color: #700909;
}

p {
color: red;
}
      
.forma {
    margin-left: 800px;
    margin-right: 250px;
    margin-top: 150px;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
}

