body {
    background-color: black;
    background-image: url(../image/musor.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: 490px;
    background-position-y: 300px;
}

h1 {
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 60px;
}

input[type=submit] {
    width: 15%;
    background-color: rgba(240, 9, 9, 0.918);
    color: white;
    padding: 14px 20px;
    margin: 8px 42%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}