body {
    background-color: black;
}
h1 {
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 40px
}

h2 {
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 30px
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }

  #problem {
    margin: 8px 0;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  input[type=submit] {
    width: 100%;
    background-color: rgba(240, 9, 9, 0.918);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  input[type=submit]:hover {
    background-color: #700909;
}

  .form {
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
  }

p {
    margin-top: 100px;
    color: rgb(218, 165, 50);
    text-align: center;
    font-size: 30px;
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -15px 40px #ffae34, 20px -25px 50px #ec760c, -20px -45px 60px #cd4606, 0 -65px 70px #973716, 10px -70px 80px #451b0e;

}